<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- style css modified -->
    <link rel="stylesheet" href="assets/css/form.css">
    <link rel="stylesheet" href="assets/css/cards.css">
    <!-- <link rel="stylesheet" href="assets/css/card.css"> -->
  </head>
  <body>
    <!-- navbar bootstrap-->
    
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <img class="navbar-brand" src="https://dumbways.id/assets/images/brandred.png" width="50px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link text-black " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-black" href="project">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-black" href="testimonial">Testimoni</a>
            </li>
          </ul>
          <div class="d-flex align-center btn-contact">
          <a href="contac" class="btn btn-dark text-white mx-2" type="button">Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
  <!-- end navbar -->

  <!-- card Project -->
  
  <section id="container">
      
    <div class="container container-cards" >
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-warning" class="justify-content-end" href="add-project">create blog</a>      
</div>
      <div class="row  align-self-center" 
      id="container-card">
          {{#each blog}}
      
        <div class="col">
        <div class="card" style="width: 100%;">
        <a href="profile.html">{{blog.image}}</a>
          <div class="card-body">
            <a href=""><h5 class="card-title">{{title}}</h5></a> 
            <h6 class="card-subtitle">Durasi : {{sDate}}</h6>
            <p class="card-text">{{content}}</p>
            <div class="container text-center">
              <div class="row row-cols-auto">
                <div class="col">{{Cbx1}}</div>
                <div class="col">{{Cbx2}}</div>
                <div class="col">{{Cbx3}}</div>
                <div class="col">{{Cbx4}}</div>
              </div>
            </div>
            <div class="d-flex justify-content-between update">
              <a href="/edit-project/{{@index}}" class="btn btn-dark" >Edit</a>
              <a href="/delete-project/{{@index}}" class="btn btn-danger" >Delete</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
        </div>
      </div>
    
  </section>
  
  

  <!-- card Project End -->
 
    
    <script src="assets/js/project.js"></script>
    
      <!-- framework cdn -->
      
       
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
